openapi: 3.0.1
info:
  title: Deposco API
  version: 2.0.2519
  license:
    name: Deposco terms of use
    url: https://developer.deposco.com/terms-and-conditions/
  description: |-
    Welcome to the Deposco API Reference! The Deposco API enables you to integrate your system with Deposco.

    * Integrate a product information system (PIM) by creating and retrieving data for items, packs, UPCs, and kits.
    * Set up warehouse data by creating facilities, zones, locations, and storage details.
    * Create inbound orders that can be received and outbound orders that can be fulfilled with Deposco warehouse management processes.

    This reference provides details on available operations, endpoints, parameters, schemas, and responses.  Example requests and responses are also available for you to use as a reference. You can copy the examples to use as a starting point for your own requests.

    Review the guides to learn how the API is used in common business scenarios such as setting up the warehouse and integrating a Product Information Management (PIM) system.

    When you're ready to get started, register for a developer account and then log in to create your application in the developer portal.
servers:
  - url: https://api.deposco.com/latest
    description: Production API
  - url: https://api.deposco.com/beta
    description: Beta API
tags:
  - name: Authentication and authorization
    description: |-
      The Deposco API uses OAuth2 for authorization. Perform the steps below to obtain an access token for your requests.

      ## Step 1: Create an application
      Log in to the developer portal and create an application. The application includes your intent for using the API and identifies required access scopes.

      After you submit the application to Deposco for review and approval, a client ID, secret, and installation link are created for the application. You can view these values on the detail page for the application.

      ## Step 2: Install the application
      Once your application is approved by Deposco, it can be installed in a Deposco customer environment. A user with an account in the environment must open the installation link, log in, and grant access to the application.

      A refresh token is then generated for the application in that environment.

      ## Step 3: Request an access token

      Use the refresh token with the client ID and secret for the application to request an access token. For example:

          curl --location 'https://auth.deposco.com/oauth2/token' \
          --header 'Content-Type: application/x-www-form-urlencoded' \
          --data-urlencode 'grant_type=refresh_token' \
          --data-urlencode 'refresh_token=JKxUWi3a2JGZ9tUOY5yza0lbX9Ocz53ldfUb8gZoE3m3yfv3kCiHKQDcyaxk2K8LJWFlS2K7IPQgloU8NwSilI-Le0RNlJbgFfrdRJCK3Olt7eYTFLKzis7hXumZzL3a' \
          --data-urlencode 'client_id=325f639c-c66a-45e2-b027-c5373b4f3ad9' \
          --data-urlencode 'client_secret=c0etmhtyasgXZbgyi4LvPKbRFP9KrQY5yUcDrG_dH40'

      The access token that is returned is valid for one hour. When it expires, use the refresh token to request a new access token. Refresh tokens are valid until the application is updated in the developer portal.

      Provide the access token as a bearer token in the 'Authorization' header of each request.
  - name: URLs
    description: |-
      The URL to access the Deposco API is:

      ```https://api.deposco.com/version/```

      where _version_ is one of the following values:

      - The API version number, such as ```v2.0```. Only the grade number and major version number must be provided. In the example of ```v2.0```, the grade number is 2 and the major version number is 0.

      - ```latest```, which uses the most recent stable version of the API. This prevents you from having to update the version number on an ongoing basis; however, breaking changes are introduced when the major version number is incremented.

      - ```beta```, which uses the current beta version of the API. The beta version may include recently developed API features that have not yet been fully tested.

      **NOTE**: In previous versions of the Deposco API, different URLs were used to access the user acceptance (UA) and production environments. Starting with version 2.0 of the API, the access token in the request is used to direct the request to a specific environment.

      ## Example URLs
      Use the endpoint below to create or update items with API version 2.0:

      ```https://api.deposco.com/v2.0/items```

      Use the endpoint below to create or update items with the most recent stable version of the API:

      ```https://api.deposco.com/latest/items```

      Use the endpoint below to create or update items with the current beta version of the API:

      ```https://api.deposco.com/beta/items```
  - name: Versioning
    description: |-
      The Deposco API is versioned. Version numbers follow a pattern of _grade.major.minor-build_, such as 2.0.2419-01, where:

      - _grade_ is the grade number, which is incremented for disruptive changes such as a change in release policy.

      - _major_ is the major version number, which is incremented for breaking changes such as the removal of a field or endpoint.

      - _minor_ is the minor version number, which is incremented when the version includes only non-breaking changes such as bug fixes or functionality for backward compatibility.

      - _build_ is the build number, which is incremented when the version includes only bug fixes for existing functionality.

      New API versions are announced in the [Changelog](./changelog). When a new major version is introduced, a timeline will be provided for the deprecation and sunsetting of any older API versions.

      The most recent version appears by default in this API Reference. You can view the reference for earlier versions by selecting from the list at the beginning of the reference.

      The version number must be included in the URL to access the Deposco API. Only the grade number and major version number must be provided, such as v2.1. For example, the endpoint to create or update items in a production environment with API version 2.1 is:

      ```https://api.deposco.com/v2.1/items```

      You can optionally use ```latest``` in the URL instead of the version number to use the most recent version of the API. This prevents you from having to update the version number on an ongoing basis; however, breaking changes are introduced when the major version number is incremented.

      The full version number for a request is returned in the response header for a request. For example:

      ```X-Deposco-API-Version: 2.1.2419-01```
  - name: Throttling
    description: |-
      An API gateway has been implemented to increase performance and stability across our API servers. The API gateway throttles API requests to maintain reliability and better throughput across API servers.

      To use the Deposco API with the gateway, API requests must use HTTPS. Requests that use HTTP are blocked because they are not secure.

      ## Request rate
      The API request rate depends on the Bright Cloud platform tier that is defined on your Master SaaS Agreement Schedule A, or specified in an Addendum or Statement of Work.

      |Bright Cloud platform tier|API request rate|Burst request size
      |--------------------------|----------------|------------------
      1, 2, or 3  | 4 requests per second  | 20 requests
      4, 5, or 6* | 20 requests per second | 100 requests

      *Contact your Deposco representative for more information if the metrics for your environment exceed tier 6.

      If the API continually receives more than 4 requests per second, then the burst bucket continues to grow until the burst request size limit is reached. At that point, an HTTP status code of 429 (Too Many Requests) is returned, and the request must be resubmitted. These rate limits are at the API client level, meaning that they are applied at an application and environment level.

      ## Rate limit headers
      A set of HTTP headers is included in each API response to identify your current rate limit and the number of remaining requests in the current 1 second time window.

      The `X-RateLimit-Limit` header provides the current rate limit for the API client. In the example below, the API client can make 4 requests every second (in other words, within the time window of 1 second) with a burst size of 20.

          X-RateLimit-Limit: 4;w=1;burst=20

      The `X-RateLimit-Remaining` header indicates the number of remaining requests that are allowed within the 1-second time window before an HTTP status code of 429 (Too Many Requests) is returned. This value is initialized from the burst size for the API client and decreases by 1 with each request that is sent within the time window. The value replenishes at the end of each 1 second time window by the number of requests per second defined in the `X-RateLimit-Limit` header.

          X-RateLimit-Remaining: 19

      The `X-RateLimit-Reset` header is included when an HTTP status code of 429 (Too Many Requests) is returned. The value indicates how many seconds to wait before submitting another request.

          X-RateLimit-Reset: 1

      ## Timeout threshold for requests
      The Deposco API gateway has a timeout threshold of 29 seconds for all requests. If a request reaches this threshold, then an HTTP status code of 400 (Bad Request) is returned, and the request be resubmitted.

      ## Maximum file size
      The maximum file size for the API gateway is 10 MB. If an API request or response exceeds this limit, then an HTTP status code of 500 (Internal Server Error) is returned.

      If a request is larger than 10 MB, then it must be divided into multiple requests that meet the file size requirement to be successful.

      If a response is larger than 10 MB, then use the `pageSize` parameter to reduce the number of entries on each page of the response.
  - name: Additional considerations
    description: The Deposco API supports Unicode characters that are encoded with UTF-8 using 1 to 3 bytes. Encoded symbols that take up to 4 bytes, such as emojis, are not supported.
  - name: Items
    description: |-
      An item, or stock keeping unit (SKU), is a distinct type of item for sale, including all attributes that distinguish the item type from other item types, such as manufacturer, description, material, size, color, and packaging.

      Packs are a sub-resource for items that enable you to manage the stock of an item in multiple units of measure. Each item must have at least one pack with a pack type of Each and a quantity value of 1, which represents the most granular unit by which the item is managed.

      Universal Product Codes (UPCs), or barcodes, are a sub-resource for items that enable you to scan and track stock in the warehouse. UPCs can be created at either the item level or the pack level, depending on the types of items and packs in the environment. Each UPC code must be unique. However, multiple UPCs can be assigned to a single item or pack.

      Channel listings are a sub-resource for items that connect the item to its integration source. Creation of a channel listing for each item is recommended.

      <a href="https://developer.deposco.com/guides/?page=Integrating%20a%20PIM%20system" target="_blank">Learn more about creating items as part of integrating a Product Information Management (PIM) system with Deposco.</a>
  - name: Kits
    description: |-
      A kit is comprised of a kit header and a set of kit detail records. The kit header is the parent record that identifies a kit that is built from a set of component items. There are two types of kit detail records:

      - An input record identifies an individual component item that is part of the kit.

      - An output record identifies the resulting item when the kit is created.

      Each kit header should include one output kit detail record and one or more input kit detail records.
  - name: Trading partners
    description: |-
      A trading partner in Deposco represents an external party to the company that is typically associated with an order, such as a supplier or vendor that provides products or services or a customer that purchases products from the company.

      If a trading partner has multiple locations/addresses, then a trading partner site can be created for each address.
      Different addresses may be used, for example, to ship orders to multiple locations for a single retail/B2B customer or to receive orders from multiple locations for a single supplier.

      Trading partner parameters can be created for identifying either reports that should be used for formatting packing slips for a trading partner or label templates that should be used for formatting retailer labels for a retail/B2B customer.
  - name: Companies
    description: |-
      A company record enables you to define a contact name and address for a business, as well as options related to international settings and packing slips. A company is also referred to as a business unit in Deposco.

      All other entities in Deposco, such as items and orders, are assigned to a company. This enables you to limit data access to only users and applications who have permissions for the company.

      A company record is configured by default when a customer environment is created in Deposco as part of the implementation process. Third party logistics (3PL) providers must create additional company
      records for each of their customers (tenant companies). Companies can also be created for environments with multiple business units where warehouse activity should be tracked separately for each one.
  - name: Facilities
    description: A facility is a physical location for a company, typically a building such as a warehouse/distribution center or a retail store. A facility record should be created for every facility that is involved in warehouse and order management activities.
  - name: Locations
    description: |-
      Locations are specific areas in a facility that are used for tracking movement of physical objects such as inventory, containers, and shipments. A location can be a specific inventory storage shelf, or a location might represent an area like the receiving or shipping area of the facility.

      Locations are typically defined as smaller, more granular units than zones. A zone can include many locations. However, a location is not limited to a specific zone; locations can be associated with multiple zones if the zones physically overlap.

      Every facility must include a Receiving location and a Shipping location. Other locations in the facility can be as general as a certain rack, or as specific as a certain shelf or even a section of a shelf.

      Storage detail records are created and updated as a sub-resource when creating or updating a location. A storage detail record assigns an item (more specifically, the pack for an item) to the location.
      If multiple items are stored in the location, a storage detail record must be created for each item.

      A storage detail record also defines the minimum and maximum inventory levels for the item in that picking location. When the stock in the location falls below the minimum,
      a warehouse replenishment task can be generated to move inventory from a reserve location so that the quantity of inventory at the picking location equals but does not exceed the specified maximum.
  - name: Zones
    description: |-
      A zone is an area in a facility that is dedicated to a specific functional task, such as picking, receiving, or shipping.

      Zones are used for controlling the areas in which users can perform warehouse management tasks. Zones can also be created to segregate work based on the type of equipment that is required, such as a fork truck or cherry picker.

      Zones may physically overlap. In other words, zones are not required to be defined as discrete areas. For example, a Secure Reserve Storage zone might be an area in a Reserve Storage zone that provides secure, caged storage for reserve inventory.
  - name: Users
    description: Each person who accesses the Deposco application should have their own user account. Dedicated user accounts enable you to precisely assign work and to track activity in the system for audit logging purposes.
  - name: Containers
    description: |-
      A container is any object that holds stock, such as a cart, bin, pallet, or shipping box. A container can also hold other containers, such as when shipping boxes are stacked on a pallet.

      Containers may also be called _LPNs (for license plate number)_ since they have preprinted, sequential barcode labels for tracking.
  - name: Inventory
    description: |-
      Inventory endpoints enable you to retrieve and manage specific quantities of stock for an item by facility and location.

      Inventory for an item is identified by attributes such as status or inventory condition. It may also be identified by item tracking attributes such as lot number, serial number, born on date, and expiration date.
  - name: Sales orders
    description: |-
      Sales orders are used for fulfillment processing through waving, picking, packing, and shipping. As a result, sales orders are also referred to as _fulfillment orders_.

      The primary record for a sales order is the order header, which contains information for the entire sales order such as the date the order was placed and the name and address of the customer.

      A sales order also has one or more order lines, which identify each item that the customer purchased, including the pack and quantity. A maximum of 100 order lines can be created or updated for an order in a single request.

      Additional related records provide other information about the order, such as notes or channel cross-references.
  - name: Customer orders
    description: |-
      Customer orders are orders from customers to purchase goods, including both B2C/D2C (direct to consumer) orders and B2B (wholesale) orders, as part of an enterprise order management strategy with Bright Order.

      The primary record for a customer order is the customer order header (CoHeader), which contains information for the entire order such as the date the order was created and the name and address of the customer.

      A customer order also has one or more order lines, which identify each item that the customer purchased, including the pack and quantity.

      Additional related records provide other information about the order, such as notes, dates, reference values, or channel cross-references.
  - name: Purchase orders
    description: |-
      A purchase order is an order that is sent to a vendor/supplier for items that are received into the warehouse.

      The primary record for a purchase order is the order header, which contains information for the entire purchase order such as the date the order was placed, the name and address of the supplier, and the address to which the stock for the order should be shipped.

      A purchase order also has one or more order lines, which identify each item to purchase from the supplier, including the pack and quantity. A maximum of 100 order lines can be created or updated for an order in a single request.

      Additional related records provide other information about the order, such as notes or channel cross-references.
  - name: Outbound transfer orders
    description: |-
      Outbound transfer orders are used by a source facility to manage the process of picking, packing, and shipping stock to a specific destination facility.

      The primary record for an outbound transfer order is the order header, which contains information for the entire order such as the source (Ship From) and destination (Ship To) facilities, as well as the overall status of the order.

      An outbound transfer order also has one or more order lines, which identify each item that is transferred, including the pack and quantity. A maximum of 100 order lines can be created or updated for an order in a single request.

      Additional related records provide other information about the order, such as notes or channel cross-references.
  - name: Inbound transfer orders
    description: |-
      Inbound transfer orders enable you to track the receipt of stock that has been transferred from another facility by using an outbound transfer order.

      The primary record for an inbound transfer order is the order header, which contains information for the entire inbound transfer order such as the source (Ship From) and destination (Ship To) facilities, as well as the overall status of the order.

      An inbound transfer order also has one or more order lines, which identify each item that has been transferred, including the pack and quantity. A maximum of 100 order lines can be created or updated for an order in a single request.

      Additional related records provide other information about the order, such as notes or channel cross-references.
  - name: Customer returns
    description: |-
      A customer return is a type of order that is used to manage the stock that is returned from a customer and received into a warehouse or distribution center (DC). A customer return is often called a *return merchandise authorization (RMA)* in other systems.

      The primary record for a customer return is the order header, which contains information for the entire order such as the fulfillment order that is associated with the customer return, customer contact information, and status information.

      A customer return also has one or more order lines, which identify each item that the customer is returning, including the pack and quantity. A maximum of 100 order lines can be created or updated for a customer return in a single request.

      Additional related records provide other information about the customer return, such as notes or channel cross-references.
  - name: Vendor returns
    description: |-
      A vendor return is a type of order that is used to manage the stock that is returned from the warehouse or distribution center (DC) to a supplier. This may occur if the stock is received for a purchase order but is either damaged or no longer needed.

      The primary record for a vendor return is the order header, which contains information for the entire order such as the purchase order that is associated with the vendor return, supplier contact information, and status information.

      A vendor return also has one or more order lines, which identify each item that is being returned to the supplier, including the pack and quantity. A maximum of 100 order lines can be created or updated for a vendor return in a single request.

      Additional related records provide other information about the vendor return, such as notes or channel cross-references.
  - name: Outbound shipments
    description: |-
      An outbound shipment is a shipment that is sent from a facility in Deposco, typically by using the services of a shipping carrier.

      An outbound shipment is associated with one or more outbound orders, such as sales orders or outbound transfer orders.

      An outbound shipment may also be associated with a trip, which is a collection of shipments that are loaded onto a single vehicle for pickup by a specific shipping carrier.

      The primary record for an outbound shipment is the shipment header, which contains information for the entire shipment such as address information, dates, billing information, and shipping carrier information.

      An outbound shipment also has one or more shipment lines, which identify each item in the shipment, including the pack and quantity.
  - name: Trips
    description: |-
      A trip is a collection of outbound shipments and the containers assigned to those shipments. The containers, which are typically shipping boxes and may also include pallets, are loaded onto a single vehicle such as a van or truck either for pickup by a specific shipping carrier or for transport to another facility.

      A bill of lading (BOL) can be generated for a trip with shipping information, billing information, and details about the contents of the trip, such as orders, packages, package types, and weights.
  - name: Receipts
    description: |-
      A receipt is created when stock has been received for an item on either a purchase order or an inbound shipment. The receipt tracks the quantity of an item and pack that was received and the date on which the stock was received.

      A receipt is also called a receipt line in Deposco because it corresponds to an order line on a purchase order or a shipment line on an inbound shipment.

      Multiple receipts may be created for a single order if stock to fulfill the purchase order is sent in multiple inbound shipments.
  - name: Asynchronous operations
    description: |-
      Asynchronous operations enable you to submit an API request and then proceed with other tasks so that you do not have to wait for an immediate response.

      Endpoints for asynchronous requests include the POST endpoints to:
      - Create or update a customer order
      - Perform a bulk import

      When you submit an asynchronous request, a request ID is returned in the response. The request is processed in the background. You must then submit a separate GET request to retrieve the status of the asynchronous request to determine whether the request completed successfully.
  - name: Delivery Promises
    description: |-
      ##Delivery promises API Overview
      The Delivery Promises is a collection of commitments or estimations either for a product or a checkout cart.

      ## Key Concepts
      - The commitment provided to the customer is based on various factors including the customer's location and selected shipping service tier.
      - **Shipping Service Tier**
        - The API supports three distinct service tiers, each offering different speed of delivery.
          - **Standard:** The default delivery tier, offering standard shipping speed.
          - **Fast:** An accelerated delivery tier, compared to the Standard tier.
          - **Fastest:** The quickest delivery tier available, providing the shortest delivery time.

      ## Implementation Notes

      - **Integration Considerations:**
        - Verify that your application correctly identifies the customer's geographic location by either providing a valid IP Address or both postal code and country code.
        - If both postal code and IP Address are provided, postal code is prioritized.
        - Ensure that the Shipping service tiers are aligned with your shipping providers and system capabilities in the Customer Delivery Promise application configuration.
paths:
  /items:
    post:
      operationId: postItem
      summary: Create or update an item
      tags:
        - Items
      description: Creates a new item or updates data for an existing item.
      security:
        - oauth2:
            - items/write
      responses:
        '200':
          description: Item updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemDTO'
              examples:
                item:
                  $ref: '#/components/examples/itemResponse'
        '201':
          description: Item created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemDTO'
            examples:
              item:
                $ref: '#/components/examples/itemRequest'
    get:
      operationId: getItems
      summary: Get a list of items
      tags:
        - Items
      description: Retrieves a list of items, paginated and sorted by ID in descending order.
      security:
        - oauth2:
            - items/read
      parameters:
        - $ref: '#/components/parameters/businessUnit'
        - $ref: '#/components/parameters/searchId'
        - name: number
          in: query
          description: Item number of the requested item.
          schema:
            type: string
        - name: name
          in: query
          description: Name of the requested item.
          schema:
            type: string
        - $ref: '#/components/parameters/createdAfter'
        - $ref: '#/components/parameters/updatedAfter'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Items retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemCollectionDTO'
              examples:
                item:
                  $ref: '#/components/examples/itemCollectionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /items/{itemId}:
    get:
      operationId: getItem
      summary: Get an item
      tags:
        - Items
      description: Retrieves the details of an existing item. Provide the unique identifier that was returned when the item was created.
      security:
        - oauth2:
            - items/read
      parameters:
        - $ref: '#/components/parameters/itemId'
      responses:
        '200':
          description: Item found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemDTO'
              examples:
                item:
                  $ref: '#/components/examples/itemResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Item not found
        '429':
          $ref: '#/components/responses/RateLimit'
        '500':
          $ref: '#/components/responses/Error'
  /items/{itemId}/packs/{packId}:
    get:
      operationId: getItemPack
      summary: Get a pack for an item
      tags:
        - Items
      description: Retrieves the details of an existing pack for an item. Provide the unique identifiers that were returned when the item and pack were created.
      security:
        - oauth2:
            - items/read
      parameters:
        - $ref: '#/components/parameters/itemId'
        - $ref: '#/components/parameters/packId'
      responses:
        '200':
          description: Pack found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackDTO'
              examples:
                example:
                  $ref: '#/components/examples/packResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Pack not found
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /items/{itemId}/upcs:
    get:
      operationId: getItemUPCs
      summary: Get a list of item UPCs for an item
      tags:
        - Items
      description: Retrieves a list of item UPCs for an item, paginated and sorted by ID in descending order. Provide the unique identifier that was returned when the item was created.
      security:
        - oauth2:
            - items/read
      parameters:
        - $ref: '#/components/parameters/businessUnit'
        - $ref: '#/components/parameters/searchId'
        - $ref: '#/components/parameters/itemId'
        - $ref: '#/components/parameters/createdAfter'
        - $ref: '#/components/parameters/updatedAfter'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: UPCs retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemUPCCollectionDTO'
              examples:
                example:
                  $ref: '#/components/examples/itemUpcCollectionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Item not found
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /items/{itemId}/itemVendors:
    get:
      operationId: getItemVendors
      summary: Get a list of item vendors for an item
      tags:
        - Items
      description: Retrieves a list of item vendors for an item, paginated and sorted by ID in descending order. Provide the unique identifier that was returned when the item was created.
      security:
        - oauth2:
            - items/read
      parameters:
        - $ref: '#/components/parameters/businessUnit'
        - $ref: '#/components/parameters/searchId'
        - $ref: '#/components/parameters/itemId'
        - $ref: '#/components/parameters/createdAfter'
        - $ref: '#/components/parameters/updatedAfter'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Item vendors retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemVendorCollectionDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Item not found
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /items/{itemId}/hsCodes:
    get:
      operationId: getHSCodes
      summary: Get a list of HS codes for an item
      tags:
        - Items
      description: Retrieves a list of HS codes for an item, paginated and sorted by ID in descending order. Provide the unique identifier that was returned when the item was created.
      security:
        - oauth2:
            - items/read
      parameters:
        - $ref: '#/components/parameters/businessUnit'
        - $ref: '#/components/parameters/searchId'
        - $ref: '#/components/parameters/itemId'
        - $ref: '#/components/parameters/createdAfter'
        - $ref: '#/components/parameters/updatedAfter'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: HS codes retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HSCodeCollectionDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Item not found
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /items/{itemId}/packs/{packId}/upcs:
    get:
      operationId: getPackUPC
      summary: Get a list of pack UPCs for an item
      tags:
        - Items
      description: Retrieves a list of pack UPCs for an item and pack, paginated and sorted by ID in descending order. Provide the unique identifiers that were returned when the item and pack were created.
      security:
        - oauth2:
            - items/read
      parameters:
        - $ref: '#/components/parameters/businessUnit'
        - $ref: '#/components/parameters/searchId'
        - $ref: '#/components/parameters/itemId'
        - $ref: '#/components/parameters/packId'
      responses:
        '200':
          description: UPCs retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackUPCCollectionDTO'
              examples:
                example:
                  $ref: '#/components/examples/packUpcCollectionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Pack or item not found
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /items/{itemId}/upcs/{upcId}:
    delete:
      operationId: deleteItemUPC
      summary: Delete an item UPC
      tags:
        - Items
      description: Deletes an existing UPC for an item. Provide the unique identifiers that were returned when the item and UPC were created.
      security:
        - oauth2:
            - items/write
      parameters:
        - $ref: '#/components/parameters/itemId'
        - $ref: '#/components/parameters/upcId'
      responses:
        '200':
          description: UPC deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: UPC not found
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /items/{itemId}/packs/{packId}/upcs/{upcId}:
    delete:
      operationId: deletePackUPC
      summary: Delete a pack UPC
      tags:
        - Items
      description: Deletes an existing UPC for a pack and item. Provide the unique identifiers that were returned when the item, pack, and UPC were created.
      security:
        - oauth2:
            - items/write
      parameters:
        - $ref: '#/components/parameters/itemId'
        - $ref: '#/components/parameters/packId'
        - $ref: '#/components/parameters/upcId'
      responses:
        '200':
          description: UPC deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: UPC not found
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /kitHeaders:
    post:
      operationId: postKitHeaders
      summary: Create or update a kit header
      tags:
        - Kits
      description: Creates a new kit or updates data for an existing kit.
      security:
        - oauth2:
            - kits/write
      responses:
        '200':
          description: Kit header updated
          headers:
            X-DEP-REQUEST-ID:
              $ref: '#/components/headers/X-DEP-REQUEST-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KitHeaderDTO'
              examples:
                example:
                  $ref: '#/components/examples/kitHeaderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KitHeaderDTO'
            examples:
              example:
                $ref: '#/components/examples/kitHeaderRequest'
    get:
      operationId: getKitHeaders
      summary: Get a list of kit headers
      tags:
        - Kits
      description: Retrieves a list of kits, paginated and sorted by ID in descending order.
      security:
        - oauth2:
            - kits/read
      parameters:
        - $ref: '#/components/parameters/businessUnit'
        - $ref: '#/components/parameters/searchId'
        - name: name
          in: query
          description: Name of the requested kit header.
          schema:
            type: string
        - $ref: '#/components/parameters/createdAfter'
        - $ref: '#/components/parameters/updatedAfter'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Kit headers retrieved
          headers:
            X-DEP-REQUEST-ID:
              $ref: '#/components/headers/X-DEP-REQUEST-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KitHeaderCollectionDTO'
              examples:
                example:
                  $ref: '#/components/examples/kitHeaderCollectionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /kitHeaders/{kitHeaderId}:
    get:
      operationId: getKitHeader
      summary: Get a kit header
      tags:
        - Kits
      description: Retrieves the details of an existing kit. Provide the unique identifier that was returned when the kit header was created.
      security:
        - oauth2:
            - kits/read
      parameters:
        - $ref: '#/components/parameters/kitHeaderId'
      responses:
        '200':
          description: Kit header found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KitHeaderDTO'
              examples:
                example:
                  $ref: '#/components/examples/kitHeaderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Kit header not found
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /kitHeaders/{kitHeaderId}/kitDetails:
    get:
      operationId: getKitDetails
      summary: Get a list of kit details
      tags:
        - Kits
      description: Retrieves a list of kit detail records for a kit header, paginated and sorted by ID in descending order. Provide the unique identifier that was returned when the kit header was created.
      security:
        - oauth2:
            - kits/read
      parameters:
        - $ref: '#/components/parameters/businessUnit'
        - $ref: '#/components/parameters/searchId'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/kitHeaderId'
        - name: itemNumber
          in: query
          description: Item number that is associated with the requested kit detail record.
          schema:
            type: string
        - name: type
          in: query
          description: Whether the kit detail record is for an input or output item for the kit.
          schema:
            type: string
            enum:
              - Input
              - Output
        - $ref: '#/components/parameters/updatedAfter'
        - $ref: '#/components/parameters/createdAfter'
      responses:
        '200':
          description: Kit details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KitDetailCollectionDTO'
              examples:
                example:
                  $ref: '#/components/examples/kitDetailCollectionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Kit header not found.
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /kitHeaders/{kitHeaderId}/kitDetails/{kitDetailId}:
    get:
      operationId: getKitDetail
      summary: Get a kit detail
      tags:
        - Kits
      description: Retrieves the details of an existing kit detail record for a kit header. Provide the unique identifiers that were returned for the kit header and kit detail record when the kit was created.
      security:
        - oauth2:
            - kits/read
      parameters:
        - $ref: '#/components/parameters/kitHeaderId'
        - $ref: '#/components/parameters/kitDetailId'
      responses:
        '200':
          description: Kit detail found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KitDetailDTO'
              examples:
                example:
                  $ref: '#/components/examples/kitDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Kit detail not found
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: deleteKitDetail
      summary: Delete a kit detail
      tags:
        - Kits
      description: Deletes an existing kit detail record for a kit header. Provide the unique identifiers that were returned for the kit header and kit detail record when the kit was created.
      security:
        - oauth2:
            - kits/write
      parameters:
        - $ref: '#/components/parameters/kitHeaderId'
        - $ref: '#/components/parameters/kitDetailId'
      responses:
        '200':
          description: Kit detail deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Kit detail not found
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /tradingPartners:
    post:
      operationId: postTradingPartner
      summary: Create or update a trading partner
      tags:
        - Trading partners
      description: Creates a new trading partner or updates data for an existing trading partner.
      security:
        - oauth2:
            - tradingPartners/write
      responses:
        '200':
          description: Trading partner updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradingPartnerDTO'
              examples:
                example:
                  $ref: '#/components/examples/tradingPartnerResponse'
        '201':
          description: Trading partner created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradingPartnerDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimit'
        '500':
          $ref: '#/components/responses/Error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradingPartnerDTO'
            examples:
              example:
                $ref: '#/components/examples/tradingPartnerRequest'
    get:
      operationId: getTradingPartners
      summary: Get a list of trading partners
      tags:
        - Trading partners
      description: Retrieves a list of trading partners, paginated and sorted by ID in descending order.
      security:
        - oauth2:
            - tradingPartners/read
      parameters:
        - $ref: '#/components/parameters/businessUnit'
        - $ref: '#/components/parameters/createdAfter'
        - $ref: '#/components/parameters/updatedAfter'
        - $ref: '#/components/parameters/searchId'
        - $ref: '#/components/parameters/pageSize'
        - name: code
          in: query
          description: Code of the requested trading partner.
          schema:
            type: string
        - name: name
          in: query
          description: Name of the requested trading partner.
          schema:
            type: string
      responses:
        '200':
          description: Trading partners retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradingPartnerCollectionDTO'
              examples:
                example:
                  $ref: '#/components/examples/tradingPartnerCollectionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimit'
        '500':
          $ref: '#/components/responses/Error'
  /tradingPartners/{tradingPartnerId}:
    get:
      operationId: getTradingPartner
      summary: Get a trading partner
      tags:
        - Trading partners
      description: Retrieves the details of an existing trading partner. Provide the unique identifier that was returned when the trading partner was created.
      security:
        - oauth2:
            - tradingPartners/read
      parameters:
        - $ref: '#/components/parameters/tradingpartner_id_path_param'
      responses:
        '200':
          description: Trading partner found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradingPartnerDTO'
              examples:
                example:
                  $ref: '#/components/examples/tradingPartnerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Trading partner not found
        '429':
          $ref: '#/components/responses/RateLimit'
        '500':
          $ref: '#/components/responses/Error'
  /tradingPartners/{tradingPartnerId}/sites:
    get:
      operationId: getTradingPartnerSites
      summary: Get a list of trading partner sites
      tags:
        - Trading partners
      description: Retrieves a list of sites for a trading partner, paginated and sorted by ID in descending order. Provide the unique identifier that was returned when the trading partner was created.
      security:
        - oauth2:
            - tradingPartners/read
      parameters:
        - $ref: '#/components/parameters/tradingpartner_id_path_param'
        - $ref: '#/components/parameters/businessUnit'
        - $ref: '#/components/parameters/createdAfter'
        - $ref: '#/components/parameters/updatedAfter'
        - $ref: '#/components/parameters/searchId'
        - $ref: '#/components/parameters/pageSize'
        - name: siteCode
          in: query
          description: Code of the trading partner for the requested sites.
          schema:
            type: string
      responses:
        '200':
          description: Trading partner sites retrieved
          headers:
            X-DEP-REQUEST-ID:
              $ref: '#/components/headers/X-DEP-REQUEST-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradingPartnerSiteCollectionDTO'
              examples:
                example:
                  $ref: '#/components/examples/tradingPartnerSiteCollectionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Trading partner not found.
        '429':
          $ref: '#/components/responses/RateLimit'
        '500':
          $ref: '#/components/responses/Error'
  /tradingPartners/{tradingPartnerId}/parameters:
    get:
      operationId: getTradingPartnerParameters
      summary: Get a list of trading partner parameters
      tags:
        - Trading partners
      description: Retrieves a list of parameters for a trading partner, paginated and sorted by ID in descending order. Provide the unique identifier that was returned when the trading partner was created.
      security:
        - oauth2:
            - tradingPartners/read
      parameters:
        - $ref: '#/components/parameters/tradingpartner_id_path_param'
        - $ref: '#/components/parameters/businessUnit'
        - $ref: '#/components/parameters/createdAfter'
        - $ref: '#/components/parameters/updatedAfter'
        - $ref: '#/components/parameters/searchId'
        - $ref: '#/components/parameters/pageSize'
        - name: code
          in: query
          description: Code of the trading partner for the requested parameters.
          schema:
            type: string
      responses:
        '200':
          description: Trading partner parameters retrieved
          headers:
            X-DEP-REQUEST-ID:
              $ref: '#/components/headers/X-DEP-REQUEST-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradingPartnerParameterCollectionDTO'
              examples:
                example:
                  $ref: '#/components/examples/tradingPartnerParameterCollectionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Trading partner not found
        '429':
          $ref: '#/components/responses/RateLimit'
        '500':
          $ref: '#/components/responses/Error'
  /tradingPartners/{tradingPartnerId}/parameters/{parameterId}:
    delete:
      operationId: deleteTradingPartnerParameter
      summary: Delete a trading partner parameter
      tags:
        - Trading partners
      description: Deletes an existing parameter for a trading partner. Provide the unique identifier that was returned when the trading partner and parameter were created.
      security:
        - oauth2:
            - tradingPartners/write
      parameters:
        - $ref: '#/components/parameters/tradingpartner_id_path_param'
        - name: parameterId
          in: path
          description: ID of the requested trading partner parameter.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Trading partner parameter deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Trading partner parameter not found
        '429':
          $ref: '#/components/responses/RateLimit'
        '500':
          $ref: '#/components/responses/Error'
  /companies:
    post:
      operationId: postCompanies
      summary: Create or update a company
      tags:
        - Companies
      description: |-
        Creates a new company (business unit) or updates data for an existing company. 
        You cannot delete a company or update the code for a company after it has been created.
      security:
        - oauth2:
            - companies/write
      responses:
        '200':
          description: Company updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDTO'
              examples:
                example:
                  $ref: '#/components/examples/companyResponse'
        '201':
          description: Company created
          headers:
            X-DEP-REQUEST-ID:
              $ref: '#/components/headers/X-DEP-REQUEST-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyDTO'
            examples:
              example:
                $ref: '#/components/examples/companyRequest'
    get:
      operationId: getCompanies
      summary: Get a list of companies
      tags:
        - Companies
      description: Retrieves a list of companies (business units), paginated and sorted by ID in descending order.
      security:
        - oauth2:
            - companies/read
      parameters:
        - $ref: '#/components/parameters/searchId'
        - name: code
          in: query
          description: Search field for Company code
          schema:
            type: string
        - $ref: '#/components/parameters/createdAfter'
        - $ref: '#/components/parameters/updatedAfter'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Companies retrieved
          headers:
            X-DEP-REQUEST-ID:
              $ref: '#/components/headers/X-DEP-REQUEST-ID'
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/CompanyDTO'
                  - $ref: '#/components/schemas/CollectionResourceMeta'
              examples:
                example:
                  $ref: '#/components/examples/companyCollectionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /companies/{companyId}:
    get:
      operationId: getCompany
      summary: Get a company
      tags:
        - Companies
      description: Retrieves the details of an existing company (business unit). Provide the unique identifier that was returned when the company was created.
      security:
        - oauth2:
            - companies/read
      parameters:
        - $ref: '#/components/parameters/companyId'
      responses:
        '200':
          description: Company found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDTO'
              examples:
                example:
                  $ref: '#/components/examples/companyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Company not found
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /facilities:
    post:
      operationId: postFacility
      summary: Create or update a facility
      tags:
        - Facilities
      description: Creates a new facility or updates data for an existing facility.
      security:
        - oauth2:
            - facilities/write
      responses:
        '200':
          description: Facility updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityDTO'
              examples:
                item:
                  $ref: '#/components/examples/facilityResponse'
        '201':
          description: Facility created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimit'
        '500':
          $ref: '#/components/responses/Error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilityDTO'
            examples:
              item:
                $ref: '#/components/examples/facilityRequest'
    get:
      operationId: getFacilities
      summary: Get a list of facilities
      description: Retrieves a list of facilities, paginated and sorted by ID in descending order.
      tags:
        - Facilities
      security:
        - oauth2:
            - facilities/read
      parameters:
        - $ref: '#/components/parameters/businessUnit'
        - $ref: '#/components/parameters/createdAfter'
        - $ref: '#/components/parameters/updatedAfter'
        - $ref: '#/components/parameters/searchId'
        - $ref: '#/components/parameters/pageSize'
        - name: number
          in: query
          description: Facility number of the requested facility.
          schema:
            type: string
        - name: name
          in: query
          description: Name of the requested facility.
          schema:
            type: string
      responses:
        '200':
          description: Facilities retrieved
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/FacilityDTO'
                  - $ref: '#/components/schemas/CollectionResourceMeta'
              examples:
                item:
                  $ref: '#/components/examples/facilityCollectionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimit'
        '500':
          $ref: '#/components/responses/Error'
  /facilities/{facilityId}:
    get:
      operationId: getFacility
      summary: Get a facility
      tags:
        - Facilities
      description: Retrieves the details of an existing facility. Provide the unique identifier that was returned when the facility was created.
      security:
        - oauth2:
            - facilities/read
      parameters:
        - $ref: '#/components/parameters/facilityId'
      responses:
        '200':
          description: Facility found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityDTO'
              examples:
                item:
                  $ref: '#/components/examples/facilityResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Facility not found
        '429':
          $ref: '#/components/responses/RateLimit'
        '500':
          $ref: '#/components/responses/Error'
  /zones:
    post:
      operationId: postZones
      summary: Create or update a zone
      tags:
        - Zones
      description: Creates a new zone or updates data for an existing zone.
      security:
        - oauth2:
            - zones/write
      responses:
        '200':
          description: Zone updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneDTO'
              examples:
                example:
                  $ref: '#/components/examples/zoneResponse'
        '201':
          description: Zone created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneDTO'
            examples:
              example:
                $ref: '#/components/examples/zoneRequest'
    get:
      operationId: getZones
      summary: Get a list of zones
      tags:
        - Zones
      description: Retrieves a list of zones, paginated and sorted by ID in descending order.
      security:
        - oauth2:
            - zones/read
      parameters:
        - $ref: '#/components/parameters/businessUnit'
        - $ref: '#/components/parameters/searchId'
        - name: name
          in: query
          description: Name of the requested zone.
          schema:
            type: string
        - $ref: '#/components/parameters/createdAfter'
        - $ref: '#/components/parameters/updatedAfter'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Zones retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneCollectionDTO'
              examples:
                example:
                  $ref: '#/components/examples/zoneCollectionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /zones/{zoneId}:
    get:
      operationId: getZoneById
      summary: Get a zone
      tags:
        - Zones
      description: Retrieves the details of an existing zone. Provide the unique identifier that was returned when the zone was created.
      security:
        - oauth2:
            - zones/read
      parameters:
        - $ref: '#/components/parameters/zone_id_path_param'
      responses:
        '200':
          description: Zone found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneDTO'
              examples:
                example:
                  $ref: '#/components/examples/zoneResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Zone not found
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /zones/{zoneId}/locations:
    get:
      operationId: getLocationsByZone
      summary: Get a list of locations for a zone
      tags:
        - Zones
      description: Retrieves a list of locations for a zone, paginated and sorted by ID in descending order. Provide the unique identifier that was returned when the zone was created.
      security:
        - oauth2:
            - zones/read
      parameters:
        - $ref: '#/components/parameters/zone_id_path_param'
        - $ref: '#/components/parameters/businessUnit'
        - $ref: '#/components/parameters/searchId'
        - name: locator
          in: query
          description: Locator of the requested location for the zone.
          schema:
            type: string
        - name: name
          in: query
          description: Name of the requested location for the zone.
          schema:
            type: string
        - $ref: '#/components/parameters/createdAfter'
        - $ref: '#/components/parameters/updatedAfter'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Locations found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationCollectionDTO'
              examples:
                example:
                  $ref: '#/components/examples/locationCollectionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Zone not found
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /zones/{zoneId}/locations/{locationId}:
    delete:
      operationId: deleteLocationWithinAZone
      summary: Remove a location from a zone
      tags:
        - Zones
      description: Removes a location from a zone. Provide the unique identifier that was returned when the zone and location were created.
      security:
        - oauth2:
            - zones/write
      parameters:
        - $ref: '#/components/parameters/zone_id_path_param'
        - $ref: '#/components/parameters/location_id_path_param'
      responses:
        '200':
          description: Location removed from zone
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Location not found
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /locations:
    post:
      operationId: postLocations
      summary: Create or update a location
      tags:
        - Locations
      description: Creates a new location or updates data for an existing location.
      security:
        - oauth2:
            - locations/write
      responses:
        '200':
          description: Location updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationDTO'
              examples:
                item:
                  $ref: '#/components/examples/locationResponse'
        '201':
          description: Location created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationDTO'
              examples:
                item:
                  $ref: '#/components/examples/locationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationDTO'
            examples:
              item:
                $ref: '#/components/examples/locationRequest'
    get:
      operationId: getLocations
      summary: Get a list of locations
      tags:
        - Locations
      description: Retrieves a list of locations, paginated and sorted by ID in descending order.
      security:
        - oauth2:
            - locations/read
      parameters:
        - $ref: '#/components/parameters/businessUnit'
        - $ref: '#/components/parameters/searchId'
        - name: locator
          in: query
          description: Locator of the requested location.
          schema:
            type: string
        - name: name
          in: query
          description: Name of the requested location.
          schema:
            type: string
        - name: facilityNumber
          in: query
          description: Number of the facility.
          schema:
            type: string
        - $ref: '#/components/parameters/createdAfter'
        - $ref: '#/components/parameters/updatedAfter'
      responses:
        '200':
          description: Locations retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationCollectionDTO'
              examples:
                item:
                  $ref: '#/components/examples/locationCollectionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /locations/{locationId}:
    get:
      operationId: getLocationById
      summary: Get a location
      tags:
        - Locations
      description: Retrieves the details of an existing location. Provide the unique identifier that was returned when the location was created.
      security:
        - oauth2:
            - locations/read
      parameters:
        - $ref: '#/components/parameters/location_id_path_param'
      responses:
        '200':
          description: Location found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationDTO'
              examples:
                item:
                  $ref: '#/components/examples/locationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Location not found
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /locations/{locationId}/zones:
    get:
      operationId: getZonesWithinLocation
      summary: Get a list of zones for a location
      tags:
        - Locations
      description: Retrieves a list of zones for a location, paginated and sorted by ID in descending order. Provide the unique identifier that was returned when the location was created.
      security:
        - oauth2:
            - locations/read
      parameters:
        - $ref: '#/components/parameters/location_id_path_param'
        - $ref: '#/components/parameters/businessUnit'
        - $ref: '#/components/parameters/searchId'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/createdAfter'
        - $ref: '#/components/parameters/updatedAfter'
        - name: name
          in: query
          description: Name of the requested zone for the location.
          schema:
            type: string
      responses:
        '200':
          description: Zones retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneCollectionDTO'
              examples:
                example:
                  $ref: '#/components/examples/zoneCollectionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Zone not found
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /locations/{locationId}/storageDetails:
    get:
      operationId: getStorageDetailsForALocation
      summary: Get a list of storage details for a location
      tags:
        - Locations
      description: Retrieves a list of storage detail records for a location, paginated and sorted by ID in descending order. Provide the unique identifier that was returned when the location was created.
      security:
        - oauth2:
            - locations/read
      parameters:
        - $ref: '#/components/parameters/businessUnit'
        - $ref: '#/components/parameters/searchId'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/location_id_path_param'
        - $ref: '#/components/parameters/createdAfter'
        - $ref: '#/components/parameters/updatedAfter'
      responses:
        '200':
          description: Storage details found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageCollectionDTO'
              examples:
                item:
                  $ref: '#/components/examples/storageDetailCollectionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Storage details not found
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /locations/{locationId}/storageDetails/{storageDetailId}:
    get:
      operationId: getStorageDetailById
      summary: Get a storage detail for a location
      tags:
        - Locations
      description: Retrieves the details of an existing storage detail record for a location. Provide the unique identifier that was returned when the location and storage detail record were created.
      security:
        - oauth2:
            - locations/read
      parameters:
        - $ref: '#/components/parameters/location_id_path_param'
        - $ref: '#/components/parameters/storage_id_path_param'
      responses:
        '200':
          description: Storage detail found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageDTO'
              examples:
                item:
                  $ref: '#/components/examples/storageDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Storage details not found
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: deleteStorageDetailFromALocation
      summary: Delete a storage detail for a location
      tags:
        - Locations
      description: Deletes an existing storage detail record for a location. Provide the unique identifier that was returned when the location and storage detail record were created.
      security:
        - oauth2:
            - locations/write
      parameters:
        - $ref: '#/components/parameters/location_id_path_param'
        - $ref: '#/components/parameters/storage_id_path_param'
      responses:
        '200':
          description: Storage detail deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Storage detail not found
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /users:
    get:
      operationId: getUsers
      summary: Get a list of users
      tags:
        - Users
      description: Retrieves a list of user accounts, paginated and sorted by ID in descending order.
      security:
        - oauth2:
            - users/read
      parameters:
        - $ref: '#/components/parameters/searchId'
        - $ref: '#/components/parameters/pageSize'
        - name: username
          in: query
          description: Username of the requested user account.
          schema:
            type: string
        - $ref: '#/components/parameters/createdAfter'
        - $ref: '#/components/parameters/updatedAfter'
      responses:
        '200':
          description: Users retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCollectionDTO'
              examples:
                item:
                  $ref: '#/components/examples/userCollectionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimit'
        '500':
          $ref: '#/components/responses/Error'
  /users/{userId}:
    get:
      operationId: getUser
      summary: Get a user
      tags:
        - Users
      description: Retrieves the details of an existing user account. Provide the unique identifier that was returned when the user was created.
      security:
        - oauth2:
            - users/read
      parameters:
        - $ref: '#/components/parameters/userId'
      responses:
        '200':
          description: User found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDTO'
              examples:
                item:
                  $ref: '#/components/examples/userResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '500':
          $ref: '#/components/responses/Error'
  /containers:
    post:
      operationId: postContainers
      summary: Create or update a container
      tags:
        - Containers
      description: Creates a new container or updates data for an existing container.
      security:
        - oauth2:
            - containers/write
      responses:
        '200':
          description: Container updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerDTO'
              examples:
                example:
                  $ref: '#/components/examples/containerResponse'
        '201':
          description: Container created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerDTO'
              examples:
                example:
                  $ref: '#/components/examples/containerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerDTO'
            examples:
              example:
                $ref: '#/components/examples/containerRequest'
    get:
      operationId: getContainers
      summary: Get a list of containers
      tags:
        - Containers
      description: Retrieves a list of containers, paginated and sorted by ID in descending order.
      security:
        - oauth2:
            - containers/read
      parameters:
        - $ref: '#/components/parameters/businessUnit'
        - $ref: '#/components/parameters/searchId'
        - $ref: '#/components/parameters/pageSize'
        - name: lpnNumber
          in: query
          description: LPN number of the requested container.
          schema:
            type: string
        - name: number
          in: query
          description: Number of the requested container.
          schema:
            type: string
        - $ref: '#/components/parameters/createdAfter'
        - $ref: '#/components/parameters/updatedAfter'
      responses:
        '200':
          description: Containers retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerCollectionDTO'
              examples:
                example:
                  $ref: '#/components/examples/containerCollectionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /containers/{containerId}:
    get:
      operationId: getContainerById
      summary: Get a container
      tags:
        - Containers
      description: Retrieves the details of an existing container. Provide the unique identifier that was returned when the container was created.
      security:
        - oauth2:
            - containers/read
      parameters:
        - $ref: '#/components/parameters/container_id_path_param'
      responses:
        '200':
          description: Container found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerDTO'
              examples:
                example:
                  $ref: '#/components/examples/containerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Container not found
        '429':
          $ref: '#/components/responses/RateLimit'
        default:
          $ref: '#/components/responses/Error'
  /orders/salesOrders:
    post:
      operationId: postSalesOrders
      summary: Create or update a sales order
      description: |-
        Creates a new sales order or updates data for an existing sales order.

        The requirements to update data for a sales order depend on the type of update:

        * To update data attributes such as the shipping address, shipping service (Ship Via), planned ship date, or notes, the order must have a status of Draft, New, Hold, Ready for Fulfillment, Wave Built, or Back Ordered.
        * To add an order line or increase the quantity of an order line, the order must have a status of Draft, New, Hold, Ready for Fulfillment, Wave Built, or Back Ordered, and the order line must have a status of New or Back Ordered. If the order has a status of either Partially Released or Released and there are backordered or unreleased quantities for the order line, then you can increase the quantity of the order line. The increase is applied to the backordered or unreleased quantity.

        Decreasing the quantity of an order line is considered a cancellation. Use the endpoint for canceling all or part of a sales order instead.

        If the sales order is associated with a customer order, then updates are not allowed. The customer order must be updated instead.
      tags:
        - Sales orders
      security:
        - oauth2:
            - salesOrders/write
      responses:
        '200':
          description: Sales order updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderDTO'
        '201':
          description: Sales order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimit'
        '500':
          $ref: '#/components/responses/Error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderDTO'
            examples:
              example:
                $ref: '#/components/examples/salesOrderRequest'
    get:
      operationId: getSalesOrders
      summary: Get a list of sales orders
      tags:
        - Sales orders
      description: Retrieves a list of sales orders, paginated and sorted by ID in descending order.
      security:
        - oauth2:
            - salesOrders/read
      parameters:
        - $ref: '#/components/parameters/businessUnit'
        - $ref: '#/components/parameters/createdAfter'
        - $ref: '#/components/parameters/updatedAfter'
        - $ref: '#/components/parameters/searchId'
        - name: pageSize
          in: query
          description: Number of records returned on each page of the search results. The default page size is 25.
          required: false
          schema:
            type: integer
            default: 25
            maximum: 50
            minimum: 1
        - $ref: '#/components/parameters/number'
        - in: query
          name: orderStatus
          description: Status of the requested order.
          required: false
          schema:
            $ref: '#/components/schemas/orderStatus'
      responses:
        '200':
          description: Sales orders retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderCollectionDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimit'
  /orders/salesOrders/{orderId}:
    get:
      operationId: getSalesOrder
      summary: Get a sales order
      tags:
        - Sales orders
      description: Retrieves the details of an existing sales order. Provide the unique identifier that was returned when the sales order was created.
      security:
        - oauth2:
            - salesOrders/read
      parameters:
        - $ref: '#/components/parameters/orderId'
      responses:
        '200':
          description: Sales order found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Sales order not found
        '429':
          $ref: '#/components/responses/RateLimit'
        '500':
          $ref: '#/components/responses/Error'
  /orders/salesOrders/{orderId}/orderLines:
    get:
      operationId: getSalesOrderLines
      summary: Get a list of order lines for a sales order
      tags:
        - Sales orders
      description: Retrieves a list of order lines for a sales order, paginated and sorted by ID in descending order. Provide the unique identifier that was returned when the sales order was created.
      security:
        - oauth2:
            - salesOrders/read
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/searchId'
        - name: pageSize
          in: query
          description: Number of records returned on each page of the search results. The default page size is 25.
          required: false
          schema:
            type: integer
            default: 25
            maximum: 50
            minimum: 1
        - $ref: '#/components/parameters/createdAfter'
        - $ref: '#/components/parameters/updatedAfter'
        - $ref: '#/components/parameters/lineNumber'
        - in: query
          name: orderLineStatus
          description: Status of the requested order line.
          required: false
          schema:
            $ref: '#/components/schemas/orderLineStatus'
      responses:
        '200':
          description: Sales order lines retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderLineCollectionDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Sales order lines not found
        '429':
          $ref: '#/components/responses/RateLimit'
        '500':
          $ref: '#/components/responses/Error'
  /orders/salesOrders/{orderId}/orderLines/{orderLineId}:
    get:
      operationId: getSalesOrderLine
      summary: Get an order line for a sales order
      tags:
        - Sales orders
      description: Retrieves the details of an existing order line for a sales order. Provide the unique identifiers that were returned when the sales order and order line were created.
      security:
        - oauth2:
            - salesOrders/read
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/orderLineId'
      responses:
        '200':
          description: Sales order line found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderLineDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Sales order or line not found
        '429':
          $ref: '#/components/responses/RateLimit'
        '500':
          $ref: '#/components/responses/Error'
    post:
      operationId: updateSalesOrderLine
      summary: Update an order line for a sales order
      tags:
        - Sales orders
      description: |-
        Updates data for an existing order line for a sales order. Provide the unique identifiers that were returned when the sales order and order line were created.

        The requirements to update data for an order line depend on the type of update:

        * To update data attributes such as lot numbers or notes, the order must have a status of Draft, New, Hold, Ready for Fulfillment, Wave Built, or Back Ordered.
        * To increase the quantity of an order line, the order must have a status of New, Hold, Ready for Fulfillment, Wave Built, or Back Ordered, and the order line must have a status of New or Back Ordered. If the order has a status of either Partially Released or Released and there are backordered or unreleased quantities for the order line, then you can increase the quantity of the order line. The increase is applied to the backordered or unreleased quantity.

        Decreasing the quantity of an order line is considered a cancellation. Use the endpoint for canceling all or part of a sales order instead.

        If the sales order is associated with a customer order, then updates are not allowed. The customer order must be updated instead.
      security:
        - oauth2:
            - salesOrders/write
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/orderLineId'
      responses:
        '200':
          description: Sales order line updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderLineDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Sales order or line not found
        '429':
          $ref: '#/components/responses/RateLimit'
        '500':
          $ref: '#/components/responses/Error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderLineDTO'
  /orders/salesOrders/{orderId}/cancellations:
    post:
      operationId: postSalesOrderCancellation
      summary: Cancel all or part of a sales order
      tags:
        - Sales orders
      description: |-
        Cancels an entire sales order, order lines for a sales order, or a partial quantity for order lines for a sales order. Provide the unique identifier that was returned when the sales order was created.

        The order must have a status of New, Hold, Ready for Fulfillment, Wave Built, or Back Ordered. In addition, an entire order can be canceled if it has a status of Draft, and a partial quantity of an order line can be canceled if the order has a status of Partially Released and there are backordered quantities for the order line. The cancellation can be applied only to the backordered quantity.
      security:
        - oauth2:
            - salesOrders/write
      parameters:
        - $ref: '#/components/parameters/orderId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCancellationDTO'
      responses:
        '200':
          description: Cancellation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Sales order not found
        '429':
          $ref: '#/components/responses/RateLimit'
  /orders/salesOrders/{orderId}/status:
    post:
[...]
